PORT=3000

# LINE Messaging API
LINE_CHANNEL_SECRET=your_line_channel_secret
LINE_CHANNEL_ACCESS_TOKEN=your_line_channel_access_token

# Facebook Messenger
FB_VERIFY_TOKEN=your_custom_verify_token
FB_PAGE_ACCESS_TOKEN=your_facebook_page_access_token

# Gmail SMTP
GMAIL_USER=your_email@gmail.com
GMAIL_APP_PASSWORD=your_gmail_app_password
TEAM_EMAIL=team@oakwoodsuites.com

# App
APP_SECRET=any_random_string_for_security
